<!-- nav y titulo -->
<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><h2 style="text-align:center">RegistrAPP</h2></ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login.page"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!--Fin nav y titulo -->
<!-- Body -->
<ion-content>
<br>
    <h3 style="text-align: center;">REGISTRAR ASISTENCIA</h3>
<br>

<ion-card class="ion-text-center">
  <ion-card-content>
    <qrcode 
      [qrdata]="qrCodeString" 
      [width]="200" 
      [errorCorrectionLevel]="'M'">
    </qrcode>
  </ion-card-content>
</ion-card>

 
  <ion-button
  expand="block"
  class="ion-margin"
  (click)="LeerQR()"
  color="success" >LEER QR 
  </ion-button>

  <ion-item>
    <ion-label 
    class="ion-text-wrap">
    Resultado secundario:{{scannerResult}}
    </ion-label> 
  </ion-item>
</ion-content>


<!-- Footer -->
<ion-footer collapse="fade">
  <ion-toolbar color="warning">
        <ion-text color="dark"><h5 style="text-align: center;">Created by: Diego, Cami y Yerko. Alumnos Duoc Uc./h5>
        </ion-text> 
  </ion-toolbar>
</ion-footer>
