
<!-- nav y titulo -->
<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><h2 style="text-align:center">RegistrAPP</h2></ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login.page"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!--Fin nav y titulo -->

<ion-menu contentId="main-content">
<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons  slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Menu </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-menu-toggle>
    <ion-item [routerLink]="['/perfil']">
      <ion-icon name="person" slot="start"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-item>
    <ion-item [routerLink]="['/curso']">
      <ion-icon name="calendar"  slot="start"></ion-icon>
      <ion-label>Cursos</ion-label>
    </ion-item>
    <ion-item [routerLink]="['/asistencia']">
      <ion-icon name="calendar"  slot="start"></ion-icon>
      <ion-label>Asistencia</ion-label>
    </ion-item>
    <ion-item [routerLink]="['/sedes']">
      <ion-icon name="calendar"  slot="start"></ion-icon>
      <ion-label>Sedes</ion-label>
    </ion-item>
    <ion-item [routerLink]="['/generar-qr']">
      <ion-icon name="qr-code-outline" slot="start"></ion-icon>
     <ion-label>leer qr</ion-label>
    </ion-item>
    <ion-item [routerLink]="['/qr']">
      <ion-icon name="qr-code-outline" slot="start"></ion-icon>
     <ion-label>Registrar asistencia</ion-label>
    </ion-item>
    <ion-item (click)="salir()">
      <ion-icon name="log-out"  slot="start"></ion-icon>
      <ion-label>Cerrar sesion</ion-label>
    </ion-item>
  </ion-menu-toggle>
</ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
<ion-header>
  <ion-toolbar>
    <ion-title>Menu</ion-title>
  </ion-toolbar>
</ion-header>
</div>

<!-- CONTENIDO DE PAGINA -->
  
<ion-content [fullscreen]="true" class="ion-padding">
      <h3 style="text-align: center;">Perfil Alumno</h3>
      <center>
        <ion-avatar>
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/demos/api/avatar/avatar.svg" />
      </ion-avatar>
    </center>
    <br>
      <ion-item>
        <ion-label position="stacked">Nombre usuario : {{usuarioBD.nombreUsuario}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Nombre : {{usuarioBD.nombre}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Apellido : {{usuarioBD.apellido}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">F.Nacimiento : {{usuarioBD.fechaNacimiento}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Nivel educacion : {{usuarioBD.nivelEducacion}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Correo : {{usuarioBD.correo}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Tipo usuario : {{usuarioBD.tipoUsuario}}</ion-label>
      </ion-item>
      <br>
      <ion-router-outlet></ion-router-outlet>
      <ion-button class="button button-block button-positive" [routerLink]="['/sedes']">Ver       sede</ion-button>
      <ion-button class="button button-block button-positive" [routerLink]="['/curso']">Ver       Cursos</ion-button>
  </ion-content>


  <ion-footer [translucent]="true">
    <ion-toolbar color="warning">
      <ion-text><h4 style="text-align: center">Created by: Diego, Cami y Yerko. Alumnos Duoc Uc.</h4></ion-text>
    </ion-toolbar>
  </ion-footer>