<ion-header>
  <ion-toolbar color="warning">
    <h2 style="text-align: center;">RegistrAPP</h2>
  </ion-toolbar>
</ion-header>

<ion-content>
  

    <!-- <h3 style="text-align: center;">LOGIN</h3> -->
<br>
    <center>
      <ion-img style="width: 90px; height: 90px;"  src="assets/icon/logo.png"></ion-img>
  
  </center>
    <br><br>
    <ion-item>
      <ion-label position="floating">Correo</ion-label>
      <ion-input id="correo" placeholder=""[(ngModel)]="usuario.correo"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label type="Password" position="floating">Contraseña</ion-label>
      <ion-input id="password" type="Password" minlength="3" maxlength="8" [(ngModel)]="usuario.password"></ion-input>
      <br>
    </ion-item>
    <br>
    <ion-button (click)="ingresar()" expand="block" color="warning">Inicio Sesión </ion-button>
    <br>
    <center>
      <ion-button fill="clear" size="small">Recuperar contraseña</ion-button>
    </center>
    
</ion-content>
<mat-progress-bar mode="indeterminate"></mat-progress-bar>


<ion-footer collapse="fade">
  <ion-toolbar color="warning">
        <ion-text color="dark"><h5 style="text-align: center;">Creado por: Cami-Diego-Yerko</h5>
        </ion-text> 
  </ion-toolbar>
</ion-footer>