ion-content{
    --background: rgba(164, 185, 204, 0.863);
}

@-webkit-keyframes scale-out-center{0%{-webkit-transform:scale(1);transform:scale(1);opacity:1}100%{-webkit-transform:scale(0);transform:scale(0);opacity:1}}@keyframes scale-out-center{0%{-webkit-transform:scale(1);transform:scale(1);opacity:1}100%{-webkit-transform:scale(0);transform:scale(0);opacity:1}}
.container{
    -webkit-animation:scale-out-center 2.5s cubic-bezier(.55,.085,.68,.53) both;animation:scale-out-center 1.5s cubic-bezier(.55,.085,.68,.53) both;
    img{
        height: 255px;
        width: 255px;
        width: auto;
        align-items: center;
        margin-top: 50%;
        margin-left: 5%;
        margin-right: 5%;
    }
}