<ion-header>
  <ion-toolbar color="warning">
    <h3 style="text-align: center;">Pagina no encontrada</h3>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
<center>
  <ion-img style="width: 300px; height: 300px;"src="assets/icon/error_404.jpg"></ion-img>
</center>

</ion-content>

<ion-button href="login" color="primary">Volver a login</ion-button>

<ion-footer collapse="fade">
  <ion-toolbar color="warning">
        <ion-text color="dark"><h5 style="text-align: center;">Created by: Diego, Cami y Yerko. Alumnos Duoc Uc.</h5>
        </ion-text> 
  </ion-toolbar>
</ion-footer>