<ion-header>
  <ion-toolbar color="warning">
    <h3 style="text-align: center;">Pagina no encontrada</h3>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
<ion-img src="assets/icon/error_404.jpg"></ion-img>

<ion-button routerLink="/login-google" expand="block" class="ion-margin-top">
  <ion-icon name="home" slot="start"></ion-icon>
  Volver a login
</ion-button>
</ion-content>

<ion-footer collapse="fade">
  <ion-toolbar color="warning">
        <ion-text color="dark"><h5 style="text-align: center;">Created by: Diego, Cami y Yerko. Alumnos Duoc Uc.</h5>
        </ion-text> 
  </ion-toolbar>
</ion-footer>